*{
    background-color: rgb(235, 235, 241);
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

    
.contenedorHeader .logo{
    background-color: #1f1969;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 2px;
}

.contenedorHeader header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedorHeader .imagenLogo{
    margin-left: 0.4%;
    width: 3%;
    height: auto;
}

.contenedorHeader .BarraBusqueda .ibuscar{
    font-family: 'Righteous';
    width: 25%;
    height: 2%;
    margin-top: 0.5%;
    margin-left: 20%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: small;
    color: black;
}

.contenedorHeader ul{
    list-style: none;
    margin-left: 74%;
    margin-top: 2%;
    position: absolute;
    display: flex;
}

.contenedorHeader li a{
   font-size: 30px;
   color: red;
}

.contenedorHeader li a:hover{
    color: #fafafa;
 }


.contenedorHeader li i{
    background-color: #1f1969;
    text-decoration: none;
    padding: 3px;

 }



.pestañas nav ul {
    background-color: black;
    position: absolute;
    text-align: center;
    padding: 0px;
    margin-top: 40px;
    width: 7%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column; /* Cambia la dirección a vertical */
}


.pestañas nav ul li{
    background-color: black;
    font-family: 'Righteous';
    font-weight: bold;
    position: relative;
    margin: 40px 10px;
    font-size: 20px;
    color: red;
    
}

.pestañas nav ul li a{
    background-color: black;
    text-decoration: none;    /*Hacer HOVER:A*/
    color: inherit;
    top: 20%;
}
.pestañas nav ul li a:hover{
    color: #1f1969;
}

.pestañas .iconos a{
    color: red;
    text-decoration: none;
    margin: 20% 2%;
    position: relative;
}
.pestañas .iconos li{
    margin-bottom: 1.6%;
    margin-left: 0.5%;
    justify-content: center;
}

.pestañas .iconos li{
    margin-bottom: 1.6%;
    margin-left: 0.5%;
    justify-content: center;
}

.pestañas .iconos li i{
    margin-top: 2.4%;
    height: 20%;
    font-size: 30px;
    background-color: black;
    
}

.pestañas .iconos i:hover{
    color:#1f1969;
    margin-top: 2.4%;
    height: 20%;
    font-size: 30px;
    background-color: black;
    
}
